In [2]:
print(input("Nama: "))
print(input("NIM: "))
print(input("Kelas: "))

Risna Venanti
I0322108
D

## 1.

diketahui dimensi sebuah aquarium tanpa penutup atas sebagai berikut:

```python
p = 11
l = 1.99
t = 25.87
```
buatkan program sederhana untuk menghitung diagonal tiap sisi dan luas permukaan aquarium tersebut tanpa menggunakan module math.

In [6]:
#program menghitung diagonal tiap sisi dan luas permukaan aquarium tersebut tanpa menggunakan module math.\

#input data
diketahui = "p, l, t"
p = 11
l = 1.99
t = 25.87

#output data

diagonalA = (p**2 + l**2)**(1/2)
diagonalDepanBelakang = (p**2 + t**2)**(1/2)
diagonalKananKiri = (l**2 + t**2)**(1/2)

print(" i. Diagonal Alas")
print("     = (p\u00b2 + l\u00b2)^1/2")
print("     = (11\u00b2 + 1.99\u00b2)^1/2")
print("     =", diagonalA)
print()

print(" ii. Diagonal Sisi Depan dan Belakang")
print("     = (p\u00b2 + t\u00b2)^1/2")
print("     = (11\u00b2 + 25.87\u00b2)^1/2")
print("     =", diagonalDepanBelakang)
print()

print(" iii. Diagonal Sisi Kanan dan Kiri")
print("     = (l\u00b2 + t\u00b2)^1/2")
print("     = (1.99\u00b2 + 25.87\u00b2)^1/2")
print("     =", diagonalKananKiri)
print()

print("Luas Permukaan Aquarium")
alas = p * l
depanbelakang = 2 * p * t
kanankiri = 2 * l * t
luaspermukaan = alas + depanbelakang + kanankiri
print("Luas Permukaan =", (2 * p * t), "+", (2 * l * t), "+", "(p*l)")
print("               =", (2 * 11 * 25.87), "+", (2 * 1.99 * 25.87), "+", "(11*1.99)")
print("               =", depanbelakang, "+", kanankiri, "+", alas)
print("               =", luaspermukaan)

 i. Diagonal Alas
     = (p² + l²)^1/2
     = (11² + 1.99²)^1/2
     = 11.17855536283647

 ii. Diagonal Sisi Depan dan Belakang
     = (p² + t²)^1/2
     = (11² + 25.87²)^1/2
     = 28.11150831954771

 iii. Diagonal Sisi Kanan dan Kiri
     = (l² + t²)^1/2
     = (1.99² + 25.87²)^1/2
     = 25.946425572706545

Luas Permukaan Aquarium
Luas Permukaan = 569.14 + 102.96260000000001 + (p*l)
               = 569.14 + 102.96260000000001 + (11*1.99)
               = 569.14 + 102.96260000000001 + 21.89
               = 693.9926

## 2.

diberikan data nilai mahasiswa sebagai berikut:

In [5]:
#PROGRAM 1 MENUNJUKKAN HASIL ANGKA
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}

#output data
import statistics

nilaimahasiswa = list(nilai.values())
ratarata = statistics.mean(nilaimahasiswa)
print("Nilai rata-rata seluruh mahasiswa adalah ", ratarata)

nilaimaksimal = max(nilaimahasiswa)
print("Nilai tertinggi mahasiswa adalah ", nilaimaksimal)

nilaiminimal = min(nilaimahasiswa)
print("Nilai tertinggi mahasiswa adalah ", nilaiminimal)

Nilai rata-rata seluruh mahasiswa adalah  80
Nilai tertinggi mahasiswa adalah  90
Nilai tertinggi mahasiswa adalah  70

In [24]:
#PROGRAM 2 MENUNJUKKAN HASIL NAMA
#input data
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}

#mean
ratarata = (nilai['Frank'] + nilai['Abagnale'] + nilai['Cobb'] + nilai['Andy Dufresne'] + nilai['Ariadne'])/5
daftarnilai = [i for i in nilai.values()]
print("Nilai rata-rata seluruh mahasiswa adalah ", ratarata)

#max dan min
maks = max(daftarnilai)
minim = min(daftarnilai)
nilaimaks = max(nilai, key=nilai.get)
nilaiminim = min(nilai, key=nilai.get)
print("Nilai tertinggi diraih oleh ", nilaimaks)
print("Nilai terendah diraih oleh ", nilaiminim)

Nilai rata-rata seluruh mahasiswa adalah  80.0
Nilai tertinggi diraih oleh  Cobb
Nilai terendah diraih oleh  Ariadne

buatlah program sederhana untuk menghitung nilai rata-rata semua mahasiswa dan mencari siapa yang mendapatkan nilai tertinggi dan nilai terendah. 
> *note: tidak perlu menggunakan loops untuk membuat program nya*

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab:
```python

surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*

In [11]:
#3.A
#input data
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]

#output data
for i in range (1,len(list_aslab)):
    print("Asisten Lab POSI ke", i+1, "sebagai berikut,", list_aslab[i])

Asisten Lab POSI ke 2 sebagai berikut, {'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044', 'kontak': '0878XXXXXXXX'}
Asisten Lab POSI ke 3 sebagai berikut, {'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076', 'kontak': '0877XXXXXXXX'}
Asisten Lab POSI ke 4 sebagai berikut, {'nama': 'Aji Manarul Aziz', 'nim': 'I0320119', 'kontak': '0812XXXXXXXX'}
Asisten Lab POSI ke 5 sebagai berikut, {'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121', 'kontak': '0896XXXXXXXX'}
Asisten Lab POSI ke 6 sebagai berikut, {'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125', 'kontak': '0822XXXXXXXX'}

In [10]:
#3.B
#input data
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]

#output data
for i in range (0,len(list_aslab)):
    list_aslab[i].update({"surel": surel[i]})
    print("Asisten Lab POSI ke", i+1, "sebagai berikut,", list_aslab[i])

Asisten Lab POSI ke 1 sebagai berikut, {'nama': 'Berlian Safri Prakoso', 'nim': 'I0320017', 'kontak': '0858XXXXXXXX', 'surel': 'berlian@student.uns.ac.id'}
Asisten Lab POSI ke 2 sebagai berikut, {'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044', 'kontak': '0878XXXXXXXX', 'surel': 'halidya@student.uns.ac.id'}
Asisten Lab POSI ke 3 sebagai berikut, {'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076', 'kontak': '0877XXXXXXXX', 'surel': 'nurki@student.uns.ac.id'}
Asisten Lab POSI ke 4 sebagai berikut, {'nama': 'Aji Manarul Aziz', 'nim': 'I0320119', 'kontak': '0812XXXXXXXX', 'surel': 'manarul@student.uns.ac.id'}
Asisten Lab POSI ke 5 sebagai berikut, {'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121', 'kontak': '0896XXXXXXXX', 'surel': 'alica@student.uns.ac.id'}
Asisten Lab POSI ke 6 sebagai berikut, {'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125', 'kontak': '0822XXXXXXXX', 'surel': 'dendy@student.uns.ac.id'}